/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(to top, rgba(59, 65, 197,1), rgb(169,129,187,0.49),rgb(255,200,169,1)), url("../img/bannerPic.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
} */

.fullscreen{
  width: 100%;
  height: 100%;
}

.login{
  background-image: url("https://grandvincentmarion.github.io/_img/bg.jpg");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  font-size: 35px;
  height: 700px;
  width: auto;
  border: 1px solid black;
  margin-top: 80px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 20px;
  position: relative;
}

.boxLogin{
  float: right;
  width: 450px;
  height: 480px;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-right: 70px;
}

.logintitle{
padding-left: 40px;
color: white;
}

.wrap-inputemail{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  z-index: 1;
  padding-left: 5px;
  margin-bottom: 10px;
}

.inputemail{
font-family: 'Poppins';
font-size: 15px;
line-height: 1.5;
color: #666666;
display: block;
width: 100%;
background: #e6e6e6;
height: 44px;
border-radius: 25px;
padding: 0 30px 0 68px;
border: none;
margin-bottom: 15px;
}

.login100-form-btn{
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

button{
  outline: none !important;
  border: none;
  font-family: inherit;
  cursor:pointer;
}

.login100-form-btn:hover{
  background-color: black;
  transition: all 0.4s;
}

/* a {
  text-decoration: none;
  background-color: transparent;
  color: white;
} */

.createAccount{
  font-size: 16px;
  margin-left: 25%;
  padding-top: 20px;
}

a:hover{
  color: #57b846;
  transition: all 0.4s;
}

.txt{
  color: #666666;
}

/* img{
  padding-top: 130px;
  padding-left: 210px;
  background-size: cover;
} */

.error {
    color: red;
    font-size: 16px;
  }
